html, body {
  height: 100%;
  margin: 0;
  font: 25px sans-serif;
  user-select: none;
}

.clickable {
  background: #A30036;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  outline-offset: 5px;
  cursor: pointer;
}

.clickable > span {
  background: #F0003C;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  outline-offset: 5px;
  transform: translateY(-6px);
}

.clickable:active > span {
  transform: translateY(-2px);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.m-bottom-25 {
  margin-bottom: 25px;
}